table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

input[type="checkbox"]:checked:before {
  content: "\2713";
  font-size: 18px;
  color: #4CAF50;
  text-align: center;
  vertical-align: middle;
  display: block;
  margin: auto;
}